<div class="full-background">
  <div class="container">

    <div class="profile-left">
      <h3>Hello: <%= @user.fname %></h3>
      <%= image_tag @user.gravatar_url(default: "wavatar", :size => 150 ) %>
      <p>Edit your profile image at <a href="https://en.gravatar.com/" target="_blank">Gravatar.com</a>.</p>
    </div>

    <div class="profile-right">
      <p>what goes here?</p>
    </div>
  

    <% if @user.tutorials.any? %>  

      <% @user.tutorials.each do |tutorial| %>
        <div class="tutorials-container">
          <div>
            <%= link_to show_tutorials_path(tutorial) do %>
              <%= image_tag tutorial.main_image (:medium), :class => "image" %>
            <% end %>
          </div>
          <div>
            <%= link_to tutorial.title, show_tutorials_path(tutorial) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render partial: 'layouts/shared/instructions' %>
    <% end %>

  </div>
</div>


  
  

