<div class="full-background">
  <div class="profile-container">

    <div class="column left">

      <div class="profile-wrapper">
        <p class="user-name"><%= @user.fname %> <%= @user.lname %></p>
        <div class="profile-left">
          <%= image_tag @user.gravatar_url(default: "wavatar", :size => 150 ) %>
          <span>Edit profile image at:<br />
            <a href="https://en.gravatar.com/" target="_blank">Gravatar.com</a>.
          </span>
        </div>

        <div class="profile-right">
          <p>FRIENDS: <%= @user.followeds.count %></p>
          <p>FOLLOWERS: <%= @user.followers.count %></p>
          <p>TUTORIALS: <%= @user.tutorials.count %></p>

          <% if current_user and @user != current_user %>
            <% if current_user.followeds.include? @user %>
              <%= link_to 'UNFOLLOW', unfollow_user_path(id: @user.id), method: :post, class: "follow" %>
            <% else %>
              <%= link_to 'FOLLOW', follow_user_path(id: @user.id), method: :post, class: "unfollow" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="users-container">
        <p>All Users</p>
        <% @users.each do |user| %>
          <div class="all-users">
            <%= link_to user_path(user) do %>
              <div><%= image_tag user.gravatar_url(default: "wavatar", :size => 150) %></div>
              <div><%= user.fname %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
   

    <div class="column right">

      <% if @user.tutorials.any? %>  

        <% @user.tutorials.each do |tutorial| %>
          <div class="tutorials-container">
            <div>
              <%= link_to show_tutorials_path(tutorial) do %>
                <%= image_tag tutorial.main_image (:medium), :class => "image" %>
              <% end %>
            </div>
            <div>
              <%= link_to tutorial.title, show_tutorials_path(tutorial) %>
            </div>
          </div>
        <% end %>

      <% else %>
        <%= render partial: 'layouts/shared/instructions' %>
      <% end %>
    </div>

  </div>
</div>


  
  

