<div class="wrapper">  
  <% if current_user %>
    <%= render partial: 'categories' %>
  <% else %>

  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag "slider/slider-time.jpg" %>
        <div class="textinside one">Take a few minutes out of your busy day to learn something new.</div>
      </li>
      <li>
        <%= image_tag "slider/slider-draw.jpg" %>
        <div class="textinside two">Browse an array of categories, including: Home, Beauty, Food, Tech, Lifestyle, Arts &amp; Crafts, and Gardening.</div>
      </li>
      <li>
        <%= image_tag "slider/slider-food.jpg" %>
        <div class="textinside three">Create your own tutorials to share your knowledge about everyday things.</div>
      </li>
      <li>
        <%= image_tag "slider/slider-road.jpg" %>
        <p class="textinside four">The road to _ is <span>less than for equal to 10 steps</span> away!</div>
      </li>
    </ul>
  </div>

    <%= render partial: 'categories' %> 
  <% end %>
</div>

