<div class="wrapper">  
  <% if current_user %>
    <%= render partial: 'categories' %>
  <% else %>

  <div class="flexslider">
    <ul class="slides">

      <li>
        <%= image_tag "slider/slider-time.jpg" %>
        <p class="p1">Take a few minutes out of your busy day to learn something new.</p>
      </li>  

      <li>
        <%= image_tag "slider/slider-draw.jpg" %>
        <p class="p2">Browse an array of categories, including: Home, Beauty, Food, Tech, Lifestyle, Arts &amp; Crafts, and Gardening.</p>
      </li>

      <li>
        <%= image_tag "slider/slider-food.jpg" %>
        <p class="p3">Create your own tutorials to share your knowledge about everyday things.</p>
      </li>

      <li>
        <%= image_tag "slider/slider-road.jpg" %>
        <p class="p4">The road to _ is <span>less than for equal to 10 steps</span> away!</p>
      </li>
      
    </ul>
  </div>

    <%= render partial: 'categories' %> 
  <% end %>
</div>

