<div class="wrapper">  
  <% if current_user %>
    <%= render partial: 'categories' %>
  <% else %>

  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag "15.jpg" %>
        <p>In <span>Less Than Or Equal To Ten Steps</span>, you can learn something new.</p>
      </li>
      <li>
        <%= image_tag "4.jpg" %>
        <p>Browse an array of categories, including: Home, Beauty, Food, Tech, Lifestyle, Arts &amp; Crafts, and Gardening.</p>
      </li>
      <li>
        <%= image_tag "5.jpg" %>
        <p>Once you join, you will be able to create your own tutorials to contribute to the community.</p>
      </li>
      <li>
        <%= image_tag "4.jpg" %>
        <p>This is the place to collaborate and assemble your knowledge about everyday things.</p>
      </li>
    </ul>
  </div>

    <%= render partial: 'categories' %> 
  <% end %>
</div>

