<div class="wrapper background">

  <div class="tutorial-wrapper">
    <h1><%= @tutorial.title %></h1>

    <div class="tutorial-main-image">
      <%= image_tag @tutorial.main_image (:medium) %>
    </div>

    <div class="tutorial-text">
      <p><strong>Shared by:</strong><%= @tutorial.user.fname %></p>

      <p><strong>Supplies Needed:</strong></p>
      <p class="supplies"><%= @tutorial.supplies %></p>

      <p>#<%= @tutorial.category.name %></p>
    </div>
  </div>

  <div class="test-wrap">
  <% if @tutorial.steps.count < 10 %>

    <%= form_for @step, url: create_tutorial_step_path, html: { id: "step-form" } do |f| %>
      <div class="steps-wrapper">


        <div class="form-group">
          <%= f.label :body, "List up to 10 steps below!" %>

          <%= f.text_area :body, :maxlength => 230, class: "text-area-control", autofocus: true, placeholder: "Describe the step...", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :step_image, "Upload Photo For This Step: " %>
          <%= f.file_field :step_image, class: "form-image" %>
        </div>
        
        <%= f.submit "ADD STEP", class: "submit-btn" %>
        <%= link_to "FINISHED", show_tutorials_path(@tutorial), class: "submit-btn" %>
        <p>Current Step Count: 
          <span><%= @tutorial.steps.count %></span>
        </p>
      </div>

    <% end %>

    <% @tutorial.steps.each_with_index do |step, i| %>
      <div class="step-review-wrapper">
        <h5>Step. <%= i + 1 %></h5>
        <h5><%= step.body %></h5>

        <% if step.step_image.exists? %>
          <%= image_tag step.step_image (:medium) %>
        <% end %>
      </div>
    <% end %>


  <% else %>
    <div class="step-review-wrapper">
      <p>Looks like you exceeded the maximum number of steps allowed.</p>
      <p>Try creating a new post or edit an existing one.</p>
      <%= link_to "VIEW TUTORIAL", show_tutorials_path(@tutorial), class: "submit-btn" %>
      <%= link_to "CREATE", new_tutorial_path(current_user), class: "submit-btn"  %>
    </div>

    <% @tutorial.steps.each_with_index do |step, i| %>
      <div class="step-review-wrapper">
        <h5>Step. <%= i + 1 %></h5>
        <h5><%= step.body %></h5>

        <% if step.step_image.exists? %>
          <%= image_tag step.step_image (:medium) %>
        <% end %>
      </div>
    <% end %>

  <% end %>

</div>


</div>




