<div class="full-background">
  <div class="search-container">

      <% if @tutorials.any? %>
        <h1>Search Result:</h1>

        <% @tutorials.each do |t| %>

          <div class="tutorials-container">

            <div>
            <%= link_to show_tutorial_path(t) do %>
              <%= image_tag t.main_image (:medium) %>
            <% end %>
            </div>

             <div>
              <%= link_to t.title, show_tutorial_path(t) %>
              <div class="likes"><i class="fa fa-heart"></i></div>
              <p>submitted by: <%= t.user.fname %></p>
            </div>

          </div>

        <% end %>
      <% else %>
          <p>Looks like there are no tutorial titles containing that keyword.</p>
          <%= link_to "Click here to explore all.", tutorials_path, class: "create-btn"%>
      <% end %>

  </div>

</div>



       