<div class="full-background tutorial-background"> 

  <div class="column left">
    <div class="tutorial-wrapper">

      <% if current_user && current_user.id == @tutorial.user_id %>

        <div class="edit-text">
          <a href="#" class="edit-btn">EDIT</a>
          <p>Click on your tutorial title, supplies or steps to make edits.</p>
        </div>

        <h1><%= best_in_place @tutorial, :title, as: :input, url: edit_tutorial_path(@tutorial) %></h1>
        
        <div class="tutorial-main-image">
          <%= image_tag @tutorial.main_image (:medium) %>
        </div>

        <div class="tutorial-text">
          <p><strong>Shared by:</strong> <%= link_to @tutorial.user.fname, user_path(@tutorial.user) %></p>
          <p class="time">Created: <%= @tutorial.created_at.strftime("%m/%d/%Y at %I:%M%p") %></p>

          <p><strong>Supplies Needed:</strong></p>
          <p class="supplies"><%= best_in_place @tutorial, :supplies, as: :textarea, url: edit_tutorial_path(@tutorial) %></p>

          <p>#<%=link_to @tutorial.category.name, categorized_tutorials_path(@tutorial.category) %></p>
        </div>

      <% else %>
        <h1> <%= @tutorial.title %> </h1>

        <div class="tutorial-main-image">
          <%= image_tag @tutorial.main_image (:medium) %>
        </div>

        <div class="tutorial-text">
          <p><strong>Shared by:</strong> <%= link_to @tutorial.user.fname, user_path(@tutorial.user)%></p>

          <p><strong>Supplies Needed:</strong></p>
          <p class="supplies"><%= @tutorial.supplies %></p>

          <p>#<%= link_to @tutorial.category.name, categorized_tutorials_path(@tutorial.category) %></p>
        </div>

      <% end %>
    </div>
  </div>

  <div class="column right">
      <% @tutorial.steps.each_with_index do |step, i| %>
        <div class="step-wrapper">

          <div class="step-text">
            <strong>Step <%= i + 1 %>.</strong>

            <% if current_user && current_user.id == @tutorial.user_id %>
              <p><%= best_in_place step, :body, as: :textarea, url: edit_tutorial_step_path(@tutorial.id, step.id) %></p>
              <p class="time">Updated: <%= step.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></p>
            <% else %> 
              <p><%= step.body %></p>
            <% end %>
          </div>
        
          <% if step.step_image.exists? %>
            <div class="step-image">
              <%= image_tag step.step_image (:medium) %>
            </div> 
          <% else %>
            <div class="step-image invisible">
              <%= image_tag step.step_image (:medium) %>
            </div>   
          <% end %>
          
        </div>
      <% end %>
  </div>

</div>
